html body {
	height: 100%
	width: 100%;
	font-family: fantasy;	
}

.main {
	    display: -webkit-box;
	height: 100%;
    background-color: transparent;
}

.avatar-container-out {
	width: 40%;
	background-color: white;
	height: inherit;
	position: relative;
}
.avatar-container-in {
	margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   text-align: center;
}

.avatar-container-in img {
	width: 50%;
	margin: auto; 
	display: block;
	margin: auto;
}

.input {
	 text-align: center;
    width: 60%;
    font-family: fantasy;

}

button {
	margin-top: 10px;
}
h3 {
	font-size: xx-large;
}

.Todo {
	width: 100%
	font-family:fantasy;
}

ul {
	list-style-type: none;
	font-size: xx-large;
	margin-top: 15px;
	margin-bottom: 15px;
}

li {
	text-align: left;
}
li.time {
	font-size: initial;
}
