html body {
	height: 100%
	width: 100%;
}

.container {
	width: 35%;
	height: 100%;
	padding: 15% 0 0 0;
}

div#title {
	padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    font-size: -webkit-xxx-large;
    font-family: fantasy;
    text-align: center;
    height: 150px;
}