<html>
<head>
    <link href={{url_for('static',filename='bower_components/bootstrap-social/bootstrap-social.css')}} rel="stylesheet" media="screen">
    <link href={{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}} rel="stylesheet" media="screen">
    <link href={{url_for('static',filename='bower_components/font-awesome/css/font-awesome.min.css')}} rel="stylesheet" media="screen">
    <script src={{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}} ></script>

    <link href={{url_for('static',filename='css/index.css')}} rel="stylesheet" media="screen">

</head>
<body>
<div class="container-fluid main">
<div class="avatar-container-out">
<div class="avatar-container-in">
<img src={{current_user.avatar}} onerror="this.src='{{url_for('static',filename='images/anonymous.jpg')}}'" class="img-circle" alt="Cinque Terre">
<button class="btn btn-default logs" ><a href={{url_for('logs')}}>Previous Logs</a> </button>
<button class="btn btn-default logs" ><a href={{url_for('logout')}}>Logout</a> </button>
</div>
</div>
<div class="input" id='input'>

</div>
</div>
<script src={{url_for('static',filename='bower_components/react/react.min.js')}}></script>
<script src={{url_for('static',filename='bower_components/react/react-dom.min.js')}}></script>
<script src={{url_for('static',filename='bower_components/babel/browser.min.js')}}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script type="text/jsx">
class TodoApp extends React.Component {
  constructor(props) {
    super(props);
    this.handleChange = this.handleChange.bind(this);
    this.handleSubmit = this.handleSubmit.bind(this);
    this.state = {items: [], text: ''};
  }

  render() {
    return (
      <div class="Todo">
        <h3><b>Whats on your Mind Right Now</b></h3>
        <TodoList items={this.state.items} />
        <form onSubmit={this.handleSubmit}>
        <div className='form-group'>
          <textarea className="form-control" rows="2" onChange={this.handleChange} value={this.state.text} ></textarea>
          <button className="btn btn-default" >{'Add #' + (this.state.items.length + 1)}</button>
        </div>
        </form>
      </div>
    );
  }

  handleChange(e) {
    this.setState({text: e.target.value,date:Date()});
  }

  handleSubmit(e) {
    e.preventDefault();
    $.getJSON('https://apress.herokuapp.com/add_post', {
        post: this.state.text,
        time: Date()
        }, function(data) {
            var response = data.result;
            console.log(response);
            }
        );
    var newItem = {
      text: this.state.text,
      date: Date(),
      id: Date.now()
    };
    this.setState((prevState) => ({
      items: prevState.items.concat(newItem),
      text: '',
      date: Date()
    }));
  }
}

class TodoList extends React.Component {
  render() {
    return (
      <ul>
        {this.props.items.map(item => (
          <li>
          <ul className="data" key={item.id}><li >{item.text}</li><li className="time">{item.date}</li></ul>
          </li>
        ))}
      </ul>
    );
  }
}

ReactDOM.render(<TodoApp />, input);
    </script>
</body>
</html>
