<html>
<head>
    <link href={{url_for('static',filename='bower_components/bootstrap-social/bootstrap-social.css')}} rel="stylesheet" media="screen">
    <link href={{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}} rel="stylesheet" media="screen">
    <link href={{url_for('static',filename='bower_components/font-awesome/css/font-awesome.min.css')}} rel="stylesheet" media="screen">
    <link href={{url_for('static',filename='css/login.css')}} rel="stylesheet" media="screen">

</head>
<body>
<div class="container">
<div class="container-fluid" id="title"><b>Aspi.re</b></div>
<a class="btn btn-block btn-social btn-google" href="{{auth_url}}">
    <span class="fa fa-google"></span> Sign in with Google
</a>
</div>

</body>
</html>
