<html>
<head>
    <link href={{url_for('static',filename='bower_components/bootstrap-social/bootstrap-social.css')}} rel="stylesheet" media="screen">
    <link href={{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}} rel="stylesheet" media="screen">
    <link href={{url_for('static',filename='bower_components/font-awesome/css/font-awesome.min.css')}} rel="stylesheet" media="screen">
    <script src={{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}} ></script>

    <link href={{url_for('static',filename='css/index.css')}} rel="stylesheet" media="screen">

</head>
<body>
<div class="container-fluid main">
<div class="avatar-container-out">
<div class="avatar-container-in">
<img src={{current_user.avatar}} onerror="this.src='{{url_for('static',filename='images/anonymous.jpg')}}'" class="img-circle" alt="Cinque Terre">
<button class="btn btn-default logs" ><a href={{url_for('index')}}>Whats On Your Mind </a> </button>
<button class="btn btn-default logs" ><a href={{url_for('logout')}}>Logout</a> </button>
</div>
</div>
<div class="input" id='input'>

    <ul >
    {% for post in posts %}
      <li>
        <ul class="data">
          <li>
            {{post.text}}
          </li>
          <li class="time">
            {{post.time}}
          </li>
        </ul>
      </li>
    {% endfor %}
    </ul>
</div>
</div>
</body>
</html>
